@import url('https://fonts.google.com/specimen/Raleway?selection.family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Raleway';
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: lightgray;
}

.navbar{
    background-color: rgb(242, 115, 118) !important;
    padding-right: 3vw;
}
.branch{
    padding: 0.7vh 2vw 0.7vh 2vw;
    border-radius: 72px;
    background-color: white;
    position: relative;
}
.navbar li a{
    color: black !important;
}
.navbar li{
    margin-right: auto !important;
}
.navbar li a:hover{
    color: blue !important;
}
.dropdown:hover>.dropdown-menu{
    display: block;
}

.carousel {
    padding: 2vh 1vh 2vh 1vh ;
    margin: 1vh ;
    max-height: max-content;
    background-color: aliceblue;
}
.carousel-inner{
    max-height: max-content;
}
.carousel-inner img{
    width: 100%;
}
.carousel-caption{
    position: absolute;
    bottom: 5%;
    text-shadow: 5px 5px 15px red;
}

.carousel-caption h1{
    text-shadow: 5px 5px 15px black;
    font-size: small;
}
.carousel-caption button{
    font-size: smaller;
}
.searchbar{
    margin:2vh 0 2vh 0;
    padding: 1vh;
    display: block;
    border: solid black;
    border-radius: 54px;
    background-color: aliceblue;
    width: fit-content;
    min-width:100%;
}
.searchbar input{
    width:20%;
}

.gallery{
    margin-top: 2rem;
    position: relative;
    background-color: aliceblue;
    padding: 2vw;
    height: max-content;
}

.gallery h1{
    margin-top: 1vh;
    margin-left: 1vw;
    color: black;
}

.location{
    width: 10%;
    border: #4E9CAF;
}

.searchtype{
    width: 10%;
    border: #4E9CAF;
}

.sbutton{
    width: 4vw;
    height: 4vh;
    background: #4E9CAF;
    border-radius: 34px;
    margin-left: 0.5vw;
}

.sbutton:hover{
    background-color: lightcoral ;
    transition: 0.5s;
}
.phone{
    font-size: larger;
    font-weight: bolder;
    color: red;
    margin-top: 0.5vh;

}

.imagecontainer{
    position: relative;
    border: 0.5vh solid crimson;
    box-shadow: 5px 10px 10px rgb(241, 196, 159);


}
.textbox{
        opacity: 0.4;
        position: absolute;
        bottom: 1vh;
        margin: 0 5% 0 5%;
        width: 90%;
        background-color: black;
        color: white;
        padding-left: 2vw;
        padding-right: 2vw;
        text-align: center;


}

.imagecontainer :hover>.textbox{
    color: red;
    opacity: 0.7;
    font-weight: bold;
    transition: 0.5s;
}
.allgallery{
    position: sticky;
    margin-top: 2vh;
}
.allgallery a{
    color: red;

}

.booktable{
    display: block;
    width: 11vw;
    height: 6vh;
    background: #4E9CAF;
    border-radius: 12px;
    position: relative; 
    margin-top: 1vh;
    text-align: center;
    margin-left: 19%;
    margin-bottom: 3vh;
    font-size: 1rem;
}
.booktable a{
    color: black;
}
.booktable a{
    color: black;
}
.booktable:hover{
    background-color: lightcoral;
    transition: 0.5s;
}
.col-md-4{
    text-align: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}
.col-md-4 #discount{
    margin-top: 2vh;
    color: blueviolet;
}
.footer{
    background-color: aliceblue;
}

.infor{
    height: 50vh;
    margin-left: auto;
    width: 58vw;
    margin-right: auto;
    background-color: aliceblue;
    padding-top: 2vh;
    padding-left: 3vh;
    font-family: 'Baloo Da 2', cursive !important;
    text-align: center;
    color: black;
}

.infor h1{
    font-style: italic;

}
.inforlink:hover{
    color: rgb(241, 65, 118)!important;
    transition: 0.5s;
}
.infor i{
    text-align: center;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 50%;
    width: 2vw;
    height: 4.5vh;
    background-color: aqua;
    padding-top: 0.5vh;
}
.emailsm{
    border: 1px solid gray;
    border-radius: 34px;
    text-align: center;
    padding: 1vh 0.5vw 1vh 1vh;

    background-color: lightgray;
}
.sbutton
.navsearch{
    background-color: white;
    border-radius: 34px;
    border: 1px solid black;
}
.navsearch i{
    color: black;
    margin-left: 1vw;
}
.navsearch input{
    border: none;
}
.container-login{

    text-align: center;

}
.limiter{
    background-color: aliceblue;
    margin:1vh auto 0 auto;
    min-height: 70%;
    width: 40%;
    color: black;
}
.loginbtn{
    background-color: rgb(104, 235, 115);
    width: 30vw;
    margin-top: 2vh;
    height:6vh;
    margin-bottom: 0.5vh;
    font-size: 2rem !important;
    font-weight: bolder;
    border-radius: 34px;
}
.loginbtn:hover{
    background-color: rgb(255, 97, 77);
    transition: 0.5s;
}
.uname{
    width: 30vw;
    height: 4.5vh;
    border-radius: 34px;
    border:2px solid rgb(236, 139, 139);
    box-shadow: 5px 10px 10px bisque;
    padding-left: 1vh;
}
.pwd{
    width: 30vw;
    border-radius: 34px;
    height: 4.5vh;
    border:2px solid rgb(236, 139, 139);
    box-shadow: 5px 10px 10px bisque;
    padding-left: 1vh;
}
.navigate{
    margin: 1vh auto auto 0vw;
    padding-left: 1vw;
    background-color: rgb(194, 250, 250);
    color: red;
}
.instructor{
    background-color: aliceblue;
    height: max-content;
    margin: 1vh 20vw 1vh 20vw;
    text-align: center;
    position: relative;
    color: black;
    padding-bottom: 3vh;
    padding-top: 5vh;
}
.navsearchbtn{
    width: 5vw;
    height: fit-content;
    border-radius: 34px;

}
.navsearchbtn:hover{
    background-color: rgb(144, 230, 87);
    transition: 0.5s;
}